<!DOCTYPE html>
<html ng-app="App" ng-cloak>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body layout="column" ng-controller="appController as $ctrl">
    <!-- Container #1 (see wireframe) -->

    <md-toolbar md-theme="docs-dark">
        <div class="md-toolbar-tools">
            <h3>Hacker News</h3>
    <span flex></span>
	    <md-input-container class="md-icon-float md-block">
            <md-icon md-font-icon="search">search</md-icon>
            <input ng-model="$ctrl.search" type="text">
        </md-input-container>
        </div>  
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row">


        <!-- Container #4 -->
        <md-content flex id="content">
            <!-- User details sample -->
            <md-list>
                <story-item ng-repeat="story in $ctrl.stories | filter:$ctrl.search" story="story">

                </story-item>
            </md-list>
        </md-content>

    </div>

</body>

</html>